@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-shape {
    clip-path: polygon(100% 100%, 0% 100%, 100% 58%);
    background-color: #fff;
    height: 300;
  }

  .bg-shape-profile-bottom {
    clip-path: polygon(100% 4%, 0% 100%, 100% 100%);

    background-color: #fff;
    height: 300;
  }
  .bg-shape-profile-top {
    clip-path: polygon(0 0, 0 96%, 100% 0);

    background-color: #fff;
    height: 300;
  }
}
